@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;

  src: local('Roboto-Regular'),
       url('/fonts/web/roboto.woff2') format('woff2'),
       url('/fonts/web/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;

  src: local('Roboto-Medium'),
       url('/fonts/web/robotomedium.woff2') format('woff2'),
       url('/fonts/web/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;

  src: local('Roboto-Bold'),
       url('/fonts/web/robotobold.woff2') format('woff2'),
       url('/fonts/web/robotobold.woff') format('woff');
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
*>*{
  outline: 1px solid #e5e5e5;
}

.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
body {
  margin: 0;

  background-color: #849d8f;

  font-family: 'Roboto', 'Arial', sans-serif;
  line-height: 1.2;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
.feedback {
  color: black;
}
.feedback p {
  margin-bottom: inherit;
}
html {
  box-sizing: border-box;
}

/*основной контейнер сайта*/
.container {
  align-items: center;
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
}
/*шапка*/
.page-header {
  position: relative;
  padding-top: 9px;

  height: 100px;

  color: #ffffff;
}
/*навигация по сайту*/
.site-navigation {
  width: 400px;
}
.site-navigation-list {
  display: flex;
}
.site-navigation-link {
  font-size: 16px;
  font-weight: 700;

  margin-right: 28px;

  color: inherit;
}
.site-navigation-link:hover {
  color: #323232;
}
.dropdown-link {
  display: none;
  font-size: 14px;
  font-weight: 400;

  color: #323232;
}
.dropdown-account-link {
  font-size: 13px;
  font-weight: 400;

  text-decoration: underline;

  color: #323232;
}
.dropdown-account-button {
  font-size: 18px;
}
/*пользовательская навигация*/
.user-navigation {
  position: absolute;
  top: 33px;
  right: 44px;
  font-weight: 500;
  font-size: 13px;
}
.user-navigation-list {
  display: flex;
}
.user-navigation-link {
  font-size: 14px;
  font-weight: 700;

  color: inherit;
}
.dropdown-search-form {
  display: none;
}
.dropdown-account-form {
  display: none;
}
/*номер телефона*/
.page-contact {
  position: absolute;
  top: 60px;
  right: 27px;
  width: 167px;
  height: 38px;

  z-index: 1;
}
.page-contact-text {
  font-weight: 500;
  font-size: 14px;
}
.page-contact-tel-link {
  font-size: 22px;

  color: inherit;
}
/*слайдер*/
.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/products/slide-one-raspberry-jam.png");
  background-repeat: no-repeat;
  background-position: top center;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}
.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}
.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}
.slider {
  position: relative;

  padding-top: 288px;

  text-align: center;
  color: #ffffff;
}
.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}
.button {
  display: inline-block;
  padding: 12px 44px;
  margin-bottom: 45px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}
.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 9px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/products/slide-one-raspberry-jam.png");
}
#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/products/slide-two-lemon-sorber.png");
}
#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/products/slide-three-strawberry-sorbet.png");
}
#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
/*акционные предложения*/
.special-offer {
  color: #ffffff;
}
.special-offer-stock-raspberry-title {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 1px;
}
.special-offer-stock-chocolate-title {
  font-size: 33px;
  font-weight: 600;
  letter-spacing: 1px;
}
.special-offer p {
  font-size: 18px;
  font-weight: 600;
}
.special-offer a {
  font-size: 18px;
}
/*хиты продаж*/
.catalog {
  width: 1146px;
  height: 362px;
  color: #ffffff;
}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-link {
  font-size: 16px;
  font-weight: 400;

  text-decoration: underline;

  color: inherit;

  margin: 0 auto;
}
.catalog-price {
  font-size: 46px;
  font-weight: 700;

  margin: 0 auto;
}
.catalog-item {
  width: 267px;
  height: 406px;
}
.catalog-item:hover {
  width: 267px;
  height: 406px;
  background: rgba(205, 214, 219, 0.3);
  border-radius: 5px;
}
.catalog-images-wrapper {
  width: 267px;
  height: 267px;
}
.catalog-item-button {
  display: none;
  font-size: 18px;
}
/*преимущества*/
.advantages {
  color: #323232;
}
.advantages-title {
  font-size: 24px;
  font-weight: 400;
}
.advantages-text {
  font-size: 16px;
}
/*мастер класс от глэйси*/
.recipes {
  color: #323232;
}
.recipes-advice-blog-title {
  font-size: 14px;
  font-weight: 600;
}
.recipes-advice-blog-text {
  font-size: 24px;
  font-weight: 600;

  text-decoration: underline;

  color: inherit;
}
.recipes-subscription-text {
  font-size: 16px;
  font-weight: 400;
}
.recipes-subscription-form {
  font-size: 18px;
}
/*схема проезда*/
.map-contact {
  color: #323232;
}
.map-contact-text {
  font-size: 14px;
  font-weight: 400;
}
a,
.map-contact-tel {
  font-size: 18px;
  font-weight: 600;

  color: inherit;
}
.map-contact-addres {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
.map-contact-button {
  font-size: 18px;
}
/*социальные сети*/
.social-image {
  color: #e7ebea;
}
.social-image:hover {
  color: #fefefe;
}
/*документация*/
.documentation-link {
  font-size: 13px;
  font-weight: 400;

  text-decoration: underline;

  color: #ffffff;
}
/*копирайтер*/
.copyright-text {
  font-size: 12px;
  font-weight: 400;

  color: #ffffff;
}
/*обратная связь*/
.feedback-text {
  font-size: 24px;
  font-weight: 600;

  color: #323232;
}
.feedback-button-send {
  font-size: 18px;
}
.feedback-input {
  font-size: 14px;
  font-weight: 400;
}
