@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;

  src: local('Roboto-Regular'),
       url('/fonts/web/roboto.woff2') format('woff2'),
       url('/fonts/web/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;

  src: local('Roboto-Medium'),
       url('/fonts/web/robotomedium.woff2') format('woff2'),
       url('/fonts/web/robotomedium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;

  src: local('Roboto-Bold'),
       url('/fonts/web/robotobold.woff2') format('woff2'),
       url('/fonts/web/robotobold.woff') format('woff');
}
*, *::before, *::after {
  box-sizing: inherit;
}
.visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
}
.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}
body {
  margin: 0;

  background-color: #849d8f;

  font-family: 'Roboto', 'Arial', sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.feedback {
  color: black;
}
.feedback p {
  margin-bottom: inherit;
}
html {
  box-sizing: border-box;
}
/*----------------------------ширина главных блоков---------------------------*/
.container {
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
/*-----------------------------------шапка------------------------------------*/
  /*-----------------------------панель навигации-----------------------------*/
.page-header {

}
.page-navigation {
  display: flex;
}
.page-header-logo {
  width: 154px;
}
.page-header a {
  color: #ffffff;
}
.page-header-contact {
  position: absolute;
}
.page-header-contact-text {
  display: flex;
  flex-wrap: wrap;
  width: 166px;
  color: #ffffff;
  font-size: 14px;
}
.page-header-contact-link {
  font-size: 22px;
}

  /*----------------------------навигация по сайту----------------------------*/
.site-navigation {
  width: 400px;
  color: #ffffff;
}
.site-navigation a {
  color: #ffffff;
}
.site-navigation a:hover {
  color: #323232;
}
.site-navigation-list {
  display: flex;
  margin-right: 28px;
}
.site-navigation-item {
  font-size: 16px;
}
.dropdown-list {
  display: none;
  font-size: 14px;
}

  /*------------------------пользовательская навигация------------------------*/
.user-navigation {
  width: 245px;
  color: #ffffff;
  margin-left: auto;
}
.user-navigation-list:not(:last-child) {
  display: flex;
  margin-right: 0;
}
.user-navigation-dropdown {
  display: none;
}
.user-navigation-link {
  font-size: 14px;
}
.user-navigation input::placeholder {
  font-size: 14px;
}
.button-come {
  color: #ffffff;
  font-size: 18px;
}
.user-navigation a {
  color: #323232;
}
.dropdown-login-link {
  font-size: 13px;
}
.dropdown-registration-link {
  font-size: 13px;
}
.dropdown-cart-column {
  color: #323232;
  font-size: 13px;
}
.dropdown-cart-column span {
  color: #999999;
}
.dropdown-cart-per-price {
  color: #323232;
  font-size: 15px;
}
/*----------------------------------слайдер-----------------------------------*/
/*----------------------фильтр меню выбора по категории-----------------------*/

/*--------------------------основной контейнер сайта--------------------------*/
  /*----------------------------выбор категории-------------------------------*/
.page-content {

}
.page-content a {
  color: #ffffff;
}
.page-content-title {
  color: #ffffff;
  font-size: 35px;
}
.ice-cream-list {
  display: flex;
}
.ice-cream-item {
  font-size: 14px;
}

  /*--------------------------специальное предложение-------------------------*/
.special-offer {
  display: flex;
}
.special-offer-stock {
  display: block;
  width: 560px;
}
.special-offer-stock-title {
  width: 320px;
  font-size: 35px;
  font-weight: 500;
  color: #ffffff;
}
.special-offer-stock-text {
  width: 512px;
  font-size: 18px;
  color: #ffffff;
}

  /*--------------------------------хит продаж--------------------------------*/
.catalog {

}
.catalog-list {
  display: flex;
  flex-wrap: wrap;
}
.catalog-item {
  width: 270px;
}
.catalog-images-wrapper {
  width: 267px;
  height: 267px;
}
.catalog-link {
  width: 252px;
}
.catalog-link a {
  display: block;
  width: 250px;
  color: #ffffff;
}
.catalog-price {
  display: flex;
  width: 160px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 500;
  margin: 0 auto;
}
.catalog-price span {
  display: block;
  font-size: 30px;
}

  /*---------------------------------пагинация--------------------------------*/
.catalog-pagination {

}
.pagination-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

  /*---------------------------описание преимущества--------------------------*/
.advantages {
  color: #323232;
}
.advantages-title {
  width: 1008px;
  font-size: 24px;
  font-weight: 400;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.advantages-item {
  width: 476px;
  margin-bottom: 10px;
  margin-right: 93px;
  font-size: 16px;
}

  /*-------------------------------блог о рецептах----------------------------*/
.recipes {
  display: flex;
  flex-wrap: wrap;
}
.recipes-advice-blog {
  width: 560px;
  color: #323232;
}
.recipes-advice-blog a {
  display: block;
  text-decoration: underline;
  width: 285px;
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}
.recipes-advice-blog-title {
  width: 164px;
  font-size: 16px;
}

  /*---------------------------------рассылка---------------------------------*/
.recipes-subscription {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
}
.recipes-subscription-text {
  width: 505px;
  color: #5a5a5a;
  font-size: 16px;
}
.recipes-subscription input::placeholder {
  display: block;
  font-size: 14px;
}
.button-details {
  color: #ffffff;
  font-size: 18px;
}

  /*--------------------------контактная информация---------------------------*/
.map {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  height: 433px;
  /*background-image: url("img/products/map.png");*/
}
.map-contact {
  width: 303px;
  color: #323232;
}
.map-contact-details {
  width: 220px;
}
a.button-about-us {
  color: #ffffff;
  font-size: 18px;
}
a.map-contact-details-link {
  color: #323232;
}
.map-contact-details-address {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
}
.map-contact-details-text {
  width: 172px;
  font-size: 14px;
}
.map-contact-details-link {
  font-size: 18px;
  font-weight: 500;
}

/*-----------------------------------подвал-----------------------------------*/
.page-footer {
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  margin-top: 120px;
  height: 104px;
  margin: 0 auto;
}
  /*-----------------------------социальные сети------------------------------*/
.social {

}
.page-footer-social {
  width: 185px;
  min-height: 42px;
}
.social-list {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}
.button-outline-color {
  width: 32px;
  height: 32px;
}

  /*------------------------------документация--------------------------------*/
.company-documentation {

}
.company-documentation a {
  color: #ffffff;
}
.page-footer-company-documentation {
  display: block;
  width: 300px;
  height: 35px;
}
.company-documentation-list {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
}
.company-documentation-item {
  display: flex;
  padding-right: 10px;

}

  /*-------------------------------копирайтер---------------------------------*/
.copyright {

}
.page-footer-copyright {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
}
.copyright-link-image {
  display: block;
}
.copyright-text {
  display: flex;
  font-size: 12px;
  color: #ffffff;
}
.copyright a {
  color: #ffffff;
}
.copyright-text a {
  display: block;
}

/*----------------------------------модалка-----------------------------------*/
.feedback {
  /*display: none;*/
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}
.feedback-text {
  display: block;
  font-size: 24px;
  font-weight: 500px;
}
.feedback input::placeholder,
.feedback textarea::placeholder {
  display: block;
  font-size: 16px;
}
.button-feedback {
  color: #ffffff;
  font-size: 18px;
}
